@model MVC.Models.Commande

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Commande</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Article.Designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Article.Designation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QteArticle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QteArticle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Number }) |
    @Html.ActionLink("Back to List", "Index")
</p>
